In [32]:
import pandas as pd

In [33]:
df = pd.read_csv("../data/cleaned_retail_data.csv")
df['Date'] = pd.to_datetime(df['Date'])

In [34]:
df = df.sort_values(['product_id', 'Date']).reset_index(drop=True)

In [35]:
df

,State,Country,Date,Total_Purchases,Product_Category,Product_Brand,Product_Type,products,product_id,Year,Month,DayOfWeek,IsMonthStart,IsMonthEnd
0,england,united kingdom,2023-03-01,2.0,electronics,sony,television,4k_tv,0,2023,3,2,1,0
1,berlin,germany,2023-03-01,6.0,electronics,sony,television,4k_tv,0,2023,3,2,1,0
2,ontario,canada,2023-03-01,3.0,electronics,sony,television,4k_tv,0,2023,3,2,1,0
3,berlin,germany,2023-03-02,2.0,electronics,sony,television,4k_tv,0,2023,3,3,0,0
4,kansas,usa,2023-03-02,7.0,electronics,samsung,television,4k_tv,0,2023,3,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300174,maine,usa,2024-02-29,4.0,electronics,samsung,smartphone,xiaomi_mi,317,2024,2,3,0,1
300175,ontario,canada,2024-02-29,9.0,electronics,samsung,smartphone,xiaomi_mi,317,2024,2,3,0,1
300176,new south wales,australia,2024-02-29,7.0,electronics,samsung,smartphone,xiaomi_mi,317,2024,2,3,0,1
300177,ontario,canada,2024-02-29,6.0,electronics,sony,smartphone,xiaomi_mi,317,2024,2,3,0,1
300178,berlin,germany,2024-02-29,3.0,electronics,samsung,smartphone,xiaomi_mi,317,2024,2,3,0,1

In [36]:
df['Quarter'] = df['Date'].dt.quarter

In [37]:
df['product_mean'] = df.groupby('product_id')['Total_Purchases'].transform('mean')
df['product_std']  = df.groupby('product_id')['Total_Purchases'].transform('std')
df['product_median'] = df.groupby('product_id')['Total_Purchases'].transform('median')

In [38]:
df['cat_mean'] = df.groupby('Product_Category')['Total_Purchases'].transform('mean')
df['brand_mean'] = df.groupby('Product_Brand')['Total_Purchases'].transform('mean')
df['type_mean'] = df.groupby('Product_Type')['Total_Purchases'].transform('mean')

In [39]:
df['country_mean'] = df.groupby('Country')['Total_Purchases'].transform('mean')
df['state_mean'] = df.groupby('State')['Total_Purchases'].transform('mean')

In [40]:
lags = [1, 7, 14, 30]

for lag in lags:
    df[f'lag_{lag}'] = df.groupby('product_id')['Total_Purchases'].shift(lag)

In [41]:
df['roll_7_mean'] = df.groupby('product_id')['Total_Purchases'].rolling(7).mean().reset_index(0, drop=True)
df['roll_30_mean'] = df.groupby('product_id')['Total_Purchases'].rolling(30).mean().reset_index(0, drop=True)
df['roll_30_std'] = df.groupby('product_id')['Total_Purchases'].rolling(30).std().reset_index(0, drop=True)

In [42]:
df = df.dropna().reset_index(drop=True)

In [43]:
df.to_csv("../data/engineered_retail_data.csv", index=False)

In [44]:
df.sample(5)

,State,Country,Date,Total_Purchases,Product_Category,Product_Brand,Product_Type,products,product_id,Year,...,type_mean,country_mean,state_mean,lag_1,lag_7,lag_14,lag_30,roll_7_mean,roll_30_mean,roll_30_std
71728,new south wales,australia,2024-02-03,6.0,clothing,nike,t-shirt,crop_top,82,2024,...,5.388086,5.362892,5.362892,2.0,9.0,4.0,7.0,5.000000,5.033333,2.735253
59108,berlin,germany,2024-01-05,6.0,home_decor,bed_bath_&_beyond,kitchen,coffee_maker,69,2024,...,5.330155,5.360421,5.360421,1.0,5.0,2.0,2.0,4.571429,4.533333,2.417370
229787,kansas,usa,2023-04-01,6.0,books,penguin_books,fiction,science_fiction,246,2023,...,5.373566,5.351364,5.356843,1.0,6.0,10.0,2.0,5.000000,5.533333,2.885557
231637,berlin,germany,2023-05-28,3.0,clothing,nike,t-shirt,scoop_neck_tee,247,2023,...,5.388086,5.360421,5.360421,3.0,3.0,8.0,6.0,4.285714,4.566667,2.908766
70559,connecticut,usa,2023-12-25,3.0,books,harpercollins,thriller,crime,81,2023,...,5.324437,5.351364,5.362174,9.0,4.0,7.0,1.0,4.857143,4.500000,2.635958

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290639 entries, 0 to 290638
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             290639 non-null  object
 1   Country           290639 non-null  object
 2   Date              290639 non-null  datetime64[ns]
 3   Total_Purchases   290639 non-null  float64
 4   Product_Category  290639 non-null  object
 5   Product_Brand     290639 non-null  object
 6   Product_Type      290639 non-null  object
 7   products          290639 non-null  object
 8   product_id        290639 non-null  int64
 9   Year              290639 non-null  int64
 10  Month             290639 non-null  int64
 11  DayOfWeek         290639 non-null  int64
 12  IsMonthStart      290639 non-null  int64
 13  IsMonthEnd        290639 non-null  int64
 14  Quarter           290639 non-null  int32
 15  product_mean      290639 non-null  float64
 16  product_std       290639 non-null  float64
 17  product_median    290639 non-null  float64
 18  cat_mean          290639 non-null  float64
 19  brand_mean        290639 non-null  float64
 20  type_mean         290639 non-null  float64
 21  country_mean      290639 non-null  float64
 22  state_mean        290639 non-null  float64
 23  lag_1             290639 non-null  float64
 24  lag_7             290639 non-null  float64
 25  lag_14            290639 non-null  float64
 26  lag_30            290639 non-null  float64
 27  roll_7_mean       290639 non-null  float64
 28  roll_30_mean      290639 non-null  float64
 29  roll_30_std       290639 non-null  float64
dtypes: datetime64[ns](1), float64(16), int32(1), int64(6), object(6)
memory usage: 65.4+ MB

In [46]:
df.shape

(290639, 30)