In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/cleaned_retail_data.csv")
df['Date'] = pd.to_datetime(df['Date'])

In [3]:
df = df.sort_values(['product_id', 'Date']).reset_index(drop=True)

In [4]:
df

,State,Country,Date,Total_Purchases,Product_Category,Product_Brand,Product_Type,products,product_id,Year,Month,DayOfWeek,IsMonthStart,IsMonthEnd
0,england,united kingdom,2023-03-01,2.0,electronics,sony,television,4k_tv,0,2023,3,2,1,0
1,berlin,germany,2023-03-01,6.0,electronics,sony,television,4k_tv,0,2023,3,2,1,0
2,ontario,canada,2023-03-01,3.0,electronics,sony,television,4k_tv,0,2023,3,2,1,0
3,berlin,germany,2023-03-02,2.0,electronics,sony,television,4k_tv,0,2023,3,3,0,0
4,kansas,usa,2023-03-02,7.0,electronics,samsung,television,4k_tv,0,2023,3,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300170,maine,usa,2024-02-29,4.0,electronics,samsung,smartphone,xiaomi_mi,317,2024,2,3,0,1
300171,ontario,canada,2024-02-29,9.0,electronics,samsung,smartphone,xiaomi_mi,317,2024,2,3,0,1
300172,new south wales,australia,2024-02-29,7.0,electronics,samsung,smartphone,xiaomi_mi,317,2024,2,3,0,1
300173,ontario,canada,2024-02-29,6.0,electronics,sony,smartphone,xiaomi_mi,317,2024,2,3,0,1
300174,berlin,germany,2024-02-29,3.0,electronics,samsung,smartphone,xiaomi_mi,317,2024,2,3,0,1

In [5]:
df['Quarter'] = df['Date'].dt.quarter

In [6]:
df.head(10)

,State,Country,Date,Total_Purchases,Product_Category,Product_Brand,Product_Type,products,product_id,Year,Month,DayOfWeek,IsMonthStart,IsMonthEnd,Quarter
0,england,united kingdom,2023-03-01,2.0,electronics,sony,television,4k_tv,0,2023,3,2,1,0,1
1,berlin,germany,2023-03-01,6.0,electronics,sony,television,4k_tv,0,2023,3,2,1,0,1
2,ontario,canada,2023-03-01,3.0,electronics,sony,television,4k_tv,0,2023,3,2,1,0,1
3,berlin,germany,2023-03-02,2.0,electronics,sony,television,4k_tv,0,2023,3,3,0,0,1
4,kansas,usa,2023-03-02,7.0,electronics,samsung,television,4k_tv,0,2023,3,3,0,0,1
5,england,united kingdom,2023-03-02,5.0,electronics,samsung,television,4k_tv,0,2023,3,3,0,0,1
6,new south wales,australia,2023-03-02,10.0,electronics,sony,television,4k_tv,0,2023,3,3,0,0,1
7,berlin,germany,2023-03-03,6.0,electronics,samsung,television,4k_tv,0,2023,3,4,0,0,1
8,ontario,canada,2023-03-03,5.0,electronics,samsung,television,4k_tv,0,2023,3,4,0,0,1
9,berlin,germany,2023-03-03,8.0,electronics,samsung,television,4k_tv,0,2023,3,4,0,0,1

In [7]:
df['product_mean'] = df.groupby('product_id')['Total_Purchases'].transform('mean')
df['product_std']  = df.groupby('product_id')['Total_Purchases'].transform('std')
df['product_median'] = df.groupby('product_id')['Total_Purchases'].transform('median')

In [8]:
df['cat_mean'] = df.groupby('Product_Category')['Total_Purchases'].transform('mean')
df['brand_mean'] = df.groupby('Product_Brand')['Total_Purchases'].transform('mean')
df['type_mean'] = df.groupby('Product_Type')['Total_Purchases'].transform('mean')

In [9]:
df['country_mean'] = df.groupby('Country')['Total_Purchases'].transform('mean')
df['state_mean'] = df.groupby('State')['Total_Purchases'].transform('mean')

In [10]:
lags = [1, 7, 14, 30]

for lag in lags:
    df[f'lag_{lag}'] = df.groupby('product_id')['Total_Purchases'].shift(lag)

In [11]:
df['roll_7_mean'] = df.groupby('product_id')['Total_Purchases'].rolling(7).mean().reset_index(0, drop=True)
df['roll_30_mean'] = df.groupby('product_id')['Total_Purchases'].rolling(30).mean().reset_index(0, drop=True)
df['roll_30_std'] = df.groupby('product_id')['Total_Purchases'].rolling(30).std().reset_index(0, drop=True)

In [12]:
df = df.dropna().reset_index(drop=True)

In [13]:
df.to_csv("../data/engineered_retail_data.csv", index=False)

In [14]:
df.sample(5)

,State,Country,Date,Total_Purchases,Product_Category,Product_Brand,Product_Type,products,product_id,Year,...,type_mean,country_mean,state_mean,lag_1,lag_7,lag_14,lag_30,roll_7_mean,roll_30_mean,roll_30_std
138202,georgia,usa,2024-02-06,9.0,grocery,coca-cola,soft_drink,iced_tea,151,2024,...,5.345794,5.351364,5.380811,2.0,1.0,5.0,5.0,4.571429,4.366667,2.579539
4616,ontario,canada,2023-08-17,1.0,books,harpercollins,thriller,adventure,4,2023,...,5.324437,5.351608,5.351608,1.0,2.0,4.0,1.0,2.857143,5.000000,3.028599
181686,new south wales,australia,2023-06-05,9.0,electronics,samsung,smartphone,nokia,195,2023,...,5.349875,5.362878,5.362878,1.0,8.0,10.0,2.0,5.714286,5.666667,2.758477
101855,connecticut,usa,2023-06-09,8.0,grocery,pepsi,water,flavored_water,118,2023,...,5.371099,5.351364,5.362174,5.0,10.0,8.0,3.0,6.571429,5.900000,2.986752
98943,indiana,usa,2023-11-16,5.0,books,random_house,fiction,fantasy,114,2023,...,5.373566,5.351364,5.368009,7.0,4.0,6.0,1.0,5.285714,5.866667,2.687562

In [15]:
df.shape

(290635, 30)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290635 entries, 0 to 290634
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             290635 non-null  object
 1   Country           290635 non-null  object
 2   Date              290635 non-null  datetime64[ns]
 3   Total_Purchases   290635 non-null  float64
 4   Product_Category  290635 non-null  object
 5   Product_Brand     290635 non-null  object
 6   Product_Type      290635 non-null  object
 7   products          290635 non-null  object
 8   product_id        290635 non-null  int64
 9   Year              290635 non-null  int64
 10  Month             290635 non-null  int64
 11  DayOfWeek         290635 non-null  int64
 12  IsMonthStart      290635 non-null  int64
 13  IsMonthEnd        290635 non-null  int64
 14  Quarter           290635 non-null  int32
 15  product_mean      290635 non-null  float64
 16  product_std       290635 non-null  float64
 17  product_median    290635 non-null  float64
 18  cat_mean          290635 non-null  float64
 19  brand_mean        290635 non-null  float64
 20  type_mean         290635 non-null  float64
 21  country_mean      290635 non-null  float64
 22  state_mean        290635 non-null  float64
 23  lag_1             290635 non-null  float64
 24  lag_7             290635 non-null  float64
 25  lag_14            290635 non-null  float64
 26  lag_30            290635 non-null  float64
 27  roll_7_mean       290635 non-null  float64
 28  roll_30_mean      290635 non-null  float64
 29  roll_30_std       290635 non-null  float64
dtypes: datetime64[ns](1), float64(16), int32(1), int64(6), object(6)
memory usage: 65.4+ MB

In [17]:
df.shape

(290635, 30)